﻿@using Newtonsoft.Json
@{
    ViewData["Title"] = "Home Page";
}

<div class="main-panel">
    <my-app></my-app>
    <div id="app"></div>
    <script>
        var deviceSites = @Html.Raw(ViewData["deviceSites"]);
    </script>
    <script type="text/javascript" src="~/dist/js/main.bundle.js"></script>
      
    <!-- partial:../../partials/_footer.html  -->
    <partial name="_Footer" />
    <!-- partial -->
</div>