<template>
    <div class="card ">
        <div class="card-header">
                <h6 class="card-title m-0">Call Distribution</h6>
        </div>
        <div class="card-body">
                <canvas id="doughnut-chart"></canvas>
        </div>
    </div>
</template>