﻿<template bindable="deviceSiteId">
    <div class="card" data-device-id.bind="deviceSiteId">
        <div class="overlay" show.bind="fetching"></div>
        <div class="loading-indicator d-flex justify-content-center" show.bind="fetching">
                <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                </div>
        </div>

        <div class="card-header">
            <h5 class="card-title">
                Call Stats:
                <div id="device-site-id-picker" style="margin-left:10px;width:250px">
                    <select class="selectpicker-site" title="Pick Site">
                        <option repeat.for="s of siteIds" value.bind="s.id" selected.bind="s.id == deviceSiteId">${s.name}</option>
                    </select>
                </div>
            </h5>
            <div class="card-toolbar">
                <div class="nav nav-tabs nav-tabs-line no-borders" id="nav-time-tab" role="tablist">
                    <a click.delegate="redrawDaily()" class="nav-item nav-link p-0 pl-1 pr-1" id="nav-daily-tab" data-toggle="tab" href="#portal-daily-${deviceSiteId}"
                       role="tab" aria-controls="portal-daily-${deviceSiteId}" aria-selected="true">Daily</a>
                    <a click.delegate="redrawMonthly()" class="nav-item nav-link active p-0 pl-1 pr-1" id="nav-month-tab" data-toggle="tab" href="#portal-monthly-${deviceSiteId}" role="tab"
                       aria-controls="portal-monthly-${deviceSiteId}" aria-selected="true">Monthly</a>
                    <a click.delegate="redrawYearly()" class="nav-item nav-link p-0 pl-1 pr-1" id="nav-year-tab" data-toggle="tab" href="#portal-yearly-${deviceSiteId}" role="tab"
                       aria-controls="portal-yearly-${deviceSiteId}" aria-selected="false">Yearly</a>
                </div>
                <div class="dropdown">
                        <button class="btn btn-sm btn-flash-primary" type="button" id="portal-action-pane"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i data-feather="more-vertical" class="toolbar-icon"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" >
                                <li class="dropdown-item"><span class="dropdown-title">Actions</span></li>
                                <li class="dropdown-item" click.delegate="exportToCSV()">
                                    <a href="#">Export call stats</a>
                                </li>
                                <li class="dropdown-item" click.delegate="exportRawCallToCSV()">
                                    <a href="#">Export raw call</a>
                                </li>
                        </ul>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="card-date-filter">
                <div id="viewByYear" style="width:250px">
                    <select class="selectpicker" multiple data-actions-box="true">
                        <option value="all">All</option>
                        <option repeat.for="y of allYears" value.bind="y" selected.bind="y == latestYear">${y}</option>
                    </select>
                </div>
                  
                <a href="javascript:void(0);" class="btn btn-sm btn-flash-border-primary shadow-none daterange-picker"
                   id="daterange-picker-1">
                    <i data-feather="calendar" class="filter-icon"></i>&nbsp;
                    <span></span>
                </a>
            </div>
            <div class="tab-content tabs-line-content p-0" id="nav-portal-tab">
                <div class="tab-pane fade" id="portal-daily-${deviceSiteId}" role="tabpanel"
                     aria-labelledby="nav-day-tab">
                    <div class="widget-4">
                        <div class="widghet-4-chart">
                            <canvas id="portal-daily-highlights" height="270"></canvas>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show active" id="portal-monthly-${deviceSiteId}" role="tabpanel" aria-labelledby="nav-month-tab">
                    <div class="widget-4">
                        <div class="widghet-4-chart">
                            <canvas id="portal-monthly-highlights" height="270"></canvas>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show" id="portal-yearly-${deviceSiteId}" role="tabpanel" aria-labelledby="nav-year-tab">
                    <div class="widget-4">
                        <div class="widghet-4-chart">
                            <canvas id="portal-yearly-highlights" height="270"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        .widghet-4-chart canvas{
            height:270px !important;
        }

        call-group .overlay{
            width: 100%;
            height: 100%;
            background: black;
            position: absolute;
            z-index: 9;
            opacity: 0.075;
        }

        call-group .card{
            justify-content: center;
        }

        call-group .loading-indicator{
            align-self: center !important;
            position: absolute;
        }
    </style>
</template>