<template>
    <div class="d-flex w-100">
        <!-- partial:../../partials/_sidebar.html -->
        <nav class="navbar-container flex-row" id="navbar">
            <div class="primary">
                <div class="text-center navbar-brand-container d-flex align-items-center justify-content-center">
                    <a class="brand-logo" href="../dashboards/index.html">
                        
                    </a>
                </div>
                <!-- TODO Make menu dynamic 
                <ul>
                    <li repeat.for="row of router.navigation">
                       <a href.bind = "row.href" data-feather="tooltip-base" class="toolbar-icon">${row.title}</a>
                    </li>
                 </ul>
                 -->
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#/dashboard" data-toggle="tooltip" data-placement="right" data-original-title="Quick Link - Dashboard" data-skin-class="tooltip-base">
                            <i data-feather="home"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#/settings" data-toggle="tooltip" data-placement="right" data-original-title="Quick Link - Email" data-skin-class="tooltip-base">
                            <i data-feather="settings"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- partial -->
    </div>
</template>