<template bindable="chartdata, compdata">
    <div class="card" show.bind="compdata">
        <div class="card-body p-0">
            <div class="widget-19">
                <div class="widget-19-header">
                    <span class="widget-19-title">${compdata.title}</span>
                    <div class="widget-19-stats">
                        <h3 class="widget-19-figure">${compdata.totalCall}</h3>
                        <div class="widget-19-rightside-stats">
                            <span class="widget-19-ratio" class.bind="compdata.diff > 0 ? 'text-success' : 'text-danger'">(${compdata.diff.toFixed(2)}%)</span>
                            <i class="fas" class.bind="compdata.diff > 0 ? 'fa-arrow-up text-success' : 'fa-arrow-down text-danger'"></i>
                        </div>
                    </div>
                </div>
                <div class="widget-19-chart">
                    <canvas id="revenue-graph-1" width="100" height="75"></canvas>
                </div>
            </div>
        </div>
    </div>
</template>