<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%- htmlWebpackPlugin.options.metadata.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">
    <script src="js/feather-4.26.0.min.js"></script>
    <link rel="stylesheet" href="css/vendor.styles.css">
    <link rel="stylesheet" href="css/demo/light-template.css">
    <link rel="stylesheet" href="css/app.6af8ca07.css">
    <!-- imported CSS are concatenated and added automatically -->
  </head>
  <body>
    <div aurelia-app="main"></div>
  </body>
</html>
