<template>
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-4 card-margin">
                <total-count-widget chartdata.bind="totalCallChartData" compdata.bind="totalCallCompData"></total-count-widget>
            </div>
            <div class="col-lg-4 card-margin">
                <total-count-widget chartdata.bind="groupCallData" compdata.bind="totalGroupCallCompData"></total-count-widget>
            </div>
            <div class="col-lg-4 card-margin">
                <total-count-widget chartdata.bind="individualCallData" compdata.bind="totalIndividualCallCompData"></total-count-widget>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 card-margin">
                <call-group device-site-id='initial'></call-group>
            </div>
            <div class="col-lg-4 col-md-6 card-margin">
                <call-distribution></call-distribution>
            </div>
        </div>
    </div>

    <style>
        .card-date-filter{
            display: flex;
            justify-content: space-between;
        }
        .card .card-header .card-title{
            display:flex;
            align-items: center;
        }
    </style>
</template>