<template>
    <nav-bar></nav-bar>
    <side-bar></side-bar>
    <div class="main-panel">
      <router-view></router-view>
    </div>

    <style>
    .navbar-container .secondary{
        display:none;
    }
    
    .main-panel{
        width: calc(100% - (80px));
    }
    </style>
</template>