<template>
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Settings: Device Site Id</h5>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-group row">
                                <label class="col-form-label col-lg-3 col-sm-12">Device Site Id</label>
                                <div class="col-lg-4 col-md-9 col-sm-12 ">
                                    <select class="selectpicker-site" title="Pick Site" ref="siteId">
                                        <option repeat.for="s of siteIds" value.bind="s.name" selected.bind="s.id == deviceSiteId">${s.id}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="sitename" class="col-sm-3 col-form-label">Site name</label>
                                <div class="col-sm-9">
                                    <input ref="siteName" type="text" class="form-control" id="sitename" placeholder="Site name" value.bind="siteId.value">
                                </div>
                            </div>

                            <button type="button" class="btn btn-primary mt-1 mr-1" click.delegate="updateDeviceMapping(siteName.value)"">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</template>