<footer class="footer">
	<div class="d-sm-flex justify-content-center justify-content-sm-between">
			<span class="text-center text-sm-left d-block d-sm-inline-block">Copyright © 2019
					<a href="#" target="_blank">AxiomUi</a>. All rights reserved.
			</span>
			<div class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
					<a  class="text-primary mr-2" href="#">Help</a>
					<a class="text-primary mr-2" href="#">Support</a>
					<a class="text-primary" href="#">Privacy Policy</a>
			</div>
	</div>
</footer>