﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - LogParserWeb</title>

    <title>Scalar - Premium Bootstrap 4 Admin Dashboard </title>
    <!-- inject:css -->
    <link rel="stylesheet" href="~/dist/css/vendor.styles.css">
    <link rel="stylesheet" href="~/dist/css/demo/light-template.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/dist/images/favicon.png" />
</head>
<body>
    <div class="main-container">
        <div class="container-fluid page-body-wrapper">
            @Html.Partial("_Navbar")
            @Html.Partial("_Sidebar")
            @Html.Partial("_Overlays")
            @RenderBody()
        </div>
    </div>
    <!--
    <div class="container body-content">
    </div>-->
    <script src="~/js/site.min.js" asp-append-version="true"></script>

    <script src="~/dist/js/vendor.base.js"></script>
    <script src="~/dist/js/vendor.bundle.js"></script>

    <link href="~/js/about.ea670911.js" rel=prefetch>
    <link href="~/js/app.1ccb421e.js" rel=preload as=script>
    <script src="~/js/app.1ccb421e.js"></script>
    <script src="~/js/about.ea670911.js"></script>

    <!-- endinject -->
    <!-- ChartJS - Text inside Circle -->
    <script src="~/dist/js/vendor-override/chartjs-doughnut.js"></script>
    <!-- ChartJS End -->
    <!-- Custom js for this page
    <script src="~/dist/js/components/dashboard-msb.js"></script>-->
    <script src="~/dist/js/components/common-msb.js"></script>
    <script src="~/dist/js/vendor-override/tooltip.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>

