<div class="sidebar-overlay"></div>
<nav class="navbar fixed-top d-flex flex-row">
    <div class="navbar-menu-container d-flex align-items-center justify-content-center">
        <div class="text-center navbar-brand-container align-items-center justify-content-center">
            <a class="brand-logo" href="../dashboards/index.html">
                <img src="../../../../dist/images/logo-brand-small.png" alt="Scalar Dashboard"
                     title="Scalar Dashboard" />
            </a>
        </div>
        <div class="sub-header">
            <h4 class="page-title text-center">Dashboard</h4>
        </div>
        <!-- partial:../../partials/_navbar.html -->
        <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item dropdown">
                <a class="nav-link count-highlighter dropdown-toggle" id="notificationAlert" href="#" data-toggle="dropdown">
                    <i data-feather="bell" class="mx-0 mt-1"></i>
                    <span class="count"></span>
                </a>
                <div class="dropdown-menu nav-notify-container animated m-0 p-0" aria-labelledby="notificationAlert">
                    <div class="notify-header p-2 pb-0">
                        <span class="pl-1">Pending - <span class="badge badge-primary badge-pill">3</span></span>
                        <span class="pl-1">Viewed - <span class="badge badge-danger badge-pill">1</span></span>
                        <span class="pl-1">Total - <span class="badge badge-success badge-pill">4</span></span>
                    </div>
                    <div class="notify-body">
                        <ul class="highlight-list">
                            <li class="highlight-item ">
                                <div class="highlight-thumbnail">
                                    <div class="highlight-icon bg-soft-success">
                                        <i data-feather="send" class="text-success"></i>
                                    </div>
                                </div>
                                <div class="highlight-item-content">
                                    <span class="highlight-subject">Jinx Desktop App</span>
                                    <span class="highlight-detail">Wireframes are submitted</span>
                                    <small>Just now</small>
                                </div>
                            </li>
                            <li class="highlight-item ">
                                <div class="highlight-thumbnail">
                                    <div class="highlight-icon bg-soft-primary">
                                        <i data-feather="upload-cloud" class="text-primary"></i>
                                    </div>
                                </div>
                                <div class="highlight-item-content">
                                    <span class="highlight-subject">Adios Fashion Store</span>
                                    <span class="highlight-detail">Design Completed and uploaded</span>
                                    <small>1 day ago</small>
                                </div>
                            </li>
                            <li class="highlight-item ">
                                <div class="highlight-thumbnail">
                                    <div class="highlight-icon bg-soft-warning">
                                        <i data-feather="alert-triangle" class="text-warning"></i>
                                    </div>
                                </div>
                                <div class="highlight-item-content">
                                    <span class="highlight-subject">FitFix App Design</span>
                                    <span class="highlight-detail">Bug and Task list are generated</span>
                                    <small>2 days ago</small>
                                </div>
                            </li>
                            <li class="highlight-item">
                                <div class="highlight-thumbnail">
                                    <div class="highlight-icon bg-soft-danger">
                                        <i data-feather="x-octagon" class="text-danger"></i>
                                    </div>
                                </div>
                                <div class="highlight-item-content">
                                    <span class="highlight-subject">FoodTruck Website</span>
                                    <span class="highlight-detail">Allocate tester for UAT</span>
                                    <small>3 days ago</small>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="notify-footer border-top p-2 text-center">
                        <a href="#">View All Notifications</a>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link count-highlighter dropdown-toggle" id="emailAlert" href="#" data-toggle="dropdown"
                   aria-expanded="false">
                    <i data-feather="mail" class="mx-0 mt-1"></i>
                    <span class="count"></span>
                </a>
                <div class="dropdown-menu nav-notify-container animated m-0" aria-labelledby="emailAlert">
                    <div class="notify-header p-2 pb-0">
                        <span class="pr-1">Starred - <span class="badge badge-warning badge-pill">1</span></span>
                        <span class="pl-1">Total - <span class="badge badge-primary badge-pill">4</span></span>
                        <span class="pl-1">Read - <span class="badge badge-success badge-pill">2</span></span>
                    </div>
                    <div class="notify-body">
                        <ul class="highlight-list">
                            <li class="highlight-item">
                                <div class="highlight-thumbnail">
                                    <div class="highlight-icon">
                                        <i data-feather="star" class="text-warning"></i>
                                    </div>
                                </div>
                                <div class="highlight-item-content">
                                    <p>
                                        <span class="highlight-subject">Mark Bose</span>
                                        <small class="float-right">4 Minutes Ago</small>
                                    </p>
                                    <span class="highlight-message">PRO-67352: KLO module project spec document is submitted for...</span>
                                </div>
                            </li>
                            <li class="highlight-item">
                                <div class="highlight-thumbnail">
                                    <div class="highlight-icon">
                                        <i data-feather="star" class="text-warning"></i>
                                    </div>
                                </div>
                                <div class="highlight-item-content">
                                    <p>
                                        <span class="highlight-subject">John Doe</span>
                                        <small class="float-right">4 Minutes Ago</small>
                                    </p>
                                    <span class="highlight-message">PRO-67352: KLO module project spec document is submitted...</span>
                                </div>
                            </li>
                            <li class="highlight-item starred">
                                <div class="highlight-thumbnail">
                                    <div class="highlight-icon">
                                        <i data-feather="star" class="text-light"></i>
                                    </div>
                                </div>
                                <div class="highlight-item-content">
                                    <p>
                                        <span class="highlight-subject">Jane Doe</span>
                                        <small class="float-right">4 Minutes Ago</small>
                                    </p>
                                    <span class="highlight-message">PRO-67352: KLO module project spec document is submitted for...</span>
                                </div>
                            </li>
                            <li class="highlight-item">
                                <div class="highlight-thumbnail">
                                    <div class="highlight-icon">
                                        <i data-feather="star" class="text-warning"></i>
                                    </div>
                                </div>
                                <div class="highlight-item-content">
                                    <p>
                                        <span class="highlight-subject">Jason Black</span>
                                        <small class="float-right">4 Minutes Ago</small>
                                    </p>
                                    <span class="highlight-message">PRO-67352: KLO module project spec document is submitted...</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="notify-footer border-top p-2 text-center">
                        <a href="#">View All Emails</a>
                    </div>
                </div>
            </li>
            <li class="nav-item nav-profile">
                <a class="nav-link" href="#" id="profileToolbar">
                    <i data-feather="user" class="mx-0"></i>
                </a>
            </li>
            <li class="nav-item nav-settings">
                <a class="nav-link" href="#" id="settingsConf">
                    <i data-feather="sliders" class="mx-0"></i>
                </a>
            </li>
            <li class="nav-item mobile-sidebar">
                <button class="nav-link navbar-toggler navbar-toggler-right align-self-center" type="button"
                        data-toggle="msb-sidebar">
                    <i data-feather="align-right"></i>
                </button>
            </li>
        </ul>
        <!-- partial -->
    </div>
</nav>