<div class="profile-overlay">
						<div class="title-head">
								<h4>Profile</h4>
						</div>
						<div class="profile-header">
								<div class="d-flex justify-content-between">
										<i data-feather="arrow-left-circle" class="profile-close text-white"></i>
										<i data-feather="log-out" class="profile-close text-white"></i>
								</div>
								<div class="user-info">
										<div class="user-pic">
												<img src="../../../../dist/images/avatars/profile-1.jpg" alt="Profile Picture" class="rounded-circle"/>
										</div>
										<div class="primary-info text-center">
												<h3><a class="name d-block" href="#">Johnson Smith</a></h3>
												<p class="designation">CTO, Alt Universe LLC.</p>
										</div>
								</div>

						</div>
						<div class="profile-body">
								<div class="body-wrapper">
										<div class="project-stat">
												<h5>Project Stats</h5>
												<ul class="list-group list-group-small list-group-flush">
														<li class="list-group-item d-flex row px-0 border-0">
																<div class="col-lg-7 col-md-9 col-sm-9 col-7">
																		<span class="d-block">Jinx Desktop App</span>
																		<span class="badge badge-soft-primary">UI/UX</span>
																		<span class="badge badge-soft-primary">C++</span>
																		<span class="badge badge-soft-primary">Java</span>
																</div>
																<div class="col-lg-5 col-md-3 col-sm-3 col-5 d-flex">
																		<div class="text-right ml-auto my-auto">
																				<h6 class="mb-1">70.5%</h6>
																		</div>
																		<div class="d-flex ml-auto">
																				<canvas class="my-auto" id="analytics-overview-goal-completion-1" width="35"
																				        height="35"></canvas>
																		</div>
																</div>
														</li>
														<li class="list-group-item d-flex row px-0 border-0">
																<div class="col-lg-7 col-md-9 col-sm-9 col-7">
																		<span class="d-block">Social Shares</span>
																		<span class="badge badge-soft-success">C#</span>
																		<span class="badge badge-soft-success">Angular</span>
																		<span class="badge badge-soft-success">HTML5</span>
																</div>
																<div class="col-lg-5 col-md-3 col-sm-3 col-5 d-flex">
																		<div class="text-right ml-auto my-auto">
																				<h6 class="mb-1">60.3%</h6>
																		</div>
																		<div class="d-flex ml-auto">
																				<canvas class="my-auto" id="analytics-overview-goal-completion-2" width="35"
																				        height="35"></canvas>
																		</div>
																</div>
														</li>
														<li class="list-group-item d-flex row px-0 border-0">
																<div class="col-lg-7 col-md-9 col-sm-9 col-7">
																		<span class="d-block">eBook Downloads</span>
																		<span class="badge badge-soft-warning">Angular</span>
																		<span class="badge badge-soft-warning">HTML5</span>
																</div>
																<div class="col-lg-5 col-md-3 col-sm-3 col-5 d-flex">
																		<div class="text-right ml-auto my-auto">
																				<h6 class="mb-1">40.8%</h6>
																		</div>
																		<div class="d-flex ml-auto">
																				<canvas id="analytics-overview-goal-completion-3" width="35" height="35"></canvas>
																		</div>
																</div>
														</li>
														<li class="list-group-item d-flex row px-0 border-0">
																<div class="col-lg-7 col-md-9 col-sm-9 col-7">
																		<span class="d-block">Account Creations</span>
																		<span class="badge badge-soft-danger">PHP</span>
																		<span class="badge badge-soft-danger">Laravel</span>
																</div>
																<div class="col-lg-5 col-md-3 col-sm-3 col-5 d-flex">
																		<div class="text-right ml-auto my-auto">
																				<h6 class="mb-1">30.7%</h6>
																		</div>
																		<div class="d-flex ml-auto">
																				<canvas class="my-auto" id="analytics-overview-goal-completion-4" width="35"
																				        height="35"></canvas>
																		</div>
																</div>
														</li>
												</ul>
										</div>
										<div class="account-stat">
												<h5>Announcement</h5>
												<ul class="highlight-list p-0 m-0">
														<li class="highlight-item">
																<div class="highlight-thumbnail">
																		<div class="highlight-icon bg-soft-success">
																				<i data-feather="send" class="text-success"></i>
																		</div>
																</div>
																<div class="highlight-item-content">
																		<span class="highlight-subject">Jinx Desktop App</span>
																		<span class="highlight-detail">Wireframes are submitted</span>
																		<small>Just now</small>
																</div>
														</li>
														<li class="highlight-item">
																<div class="highlight-thumbnail">
																		<div class="highlight-icon bg-soft-primary">
																				<i data-feather="upload-cloud" class="text-primary"></i>
																		</div>
																</div>
																<div class="highlight-item-content">
																		<span class="highlight-subject">Adios Fashion Store</span>
																		<span class="highlight-detail">Design Completed and uploaded</span>
																		<small>1 day ago</small>
																</div>
														</li>
														<li class="highlight-item">
																<div class="highlight-thumbnail">
																		<div class="highlight-icon bg-soft-warning">
																				<i data-feather="list" class="text-warning"></i>
																		</div>
																</div>
																<div class="highlight-item-content">
																		<span class="highlight-subject">FitFix App Design</span>
																		<span class="highlight-detail">Bug and Task list are generated</span>
																		<small>2 days ago</small>
																</div>
														</li>
														<li class="highlight-item">
																<div class="highlight-thumbnail">
																		<div class="highlight-icon bg-soft-danger">
																				<i data-feather="users" class="text-danger"></i>
																		</div>
																</div>
																<div class="highlight-item-content">
																		<span class="highlight-subject">FoodTruck Website</span>
																		<span class="highlight-detail">Allocate tester for UAT</span>
																		<small>3 days ago</small>
																</div>
														</li>
												</ul>
										</div>
								</div>
						</div>
				</div>
				<div class="settings-overlay">
						<div class="settings-header">
								<h4>Configurations</h4>
						</div>
						<i data-feather="arrow-left-circle" class="setting-close"></i>
						<div class="settings-body">
								<nav>
										<div class="nav nav-tabs nav-pills nav-fill border-0 p-3 pt-0" id="nav-tab" role="tablist">
												<a class="nav-item nav-link active" id="nav-task-tab" data-toggle="tab" href="#nav-home" role="tab"
												   aria-controls="nav-home" aria-selected="true">Home</a>
												<a class="nav-item nav-link" id="nav-config-tab" data-toggle="tab" href="#nav-config" role="tab"
												   aria-controls="nav-config" aria-selected="false">Settings</a>
										</div>
								</nav>
								<div class="tab-content p-3 task-scroll-container" id="nav-tabContent">
										<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-task-tab">
												<div class="task-list-container">
														<ul class="d-flex flex-column">
																<li>
																		<div class="card card-rounded bg-primary">
																				<div class="card-header">
																						<div class="task-header-left bg-soft-primary-2">
																								<i data-feather="users" class="task-icon"></i>
																						</div>
																						<div class="task-header-right">
																								<span class="badge badge-pill badge-soft-primary-2">Aug 22</span>
																								<span class="badge badge-pill badge-soft-primary-2">11:21 AM</span>
																						</div>
																				</div>
																				<div class="card-body">
																						<p class="title">Meeting Scheduled on Wednesday</p>
																						<p class="content text-soft-primary">Meeting is at hotel plaza for two hours. Agenda
																								is to get approval of project ASAP</p>
																				</div>
																				<div class="card-footer">
																						<div class="actions">
																								<a class="text-white" href="#"><i data-feather="trash-2"></i></a>
																						</div>
																				</div>
																		</div>
																</li>
																<li>
																		<div class="card card-rounded bg-warning">
																				<div class="card-header">
																						<div class="task-header-left bg-soft-warning-2">
																								<i data-feather="users" class="task-icon"></i>
																						</div>
																						<div class="task-header-right">
																								<span class="badge badge-pill badge-soft-warning-2">Aug 22</span>
																								<span class="badge badge-pill badge-soft-warning-2">11:21 AM</span>
																						</div>
																				</div>
																				<div class="card-body">
																						<p class="title">Meeting Scheduled on Wednesday</p>
																						<p class="content text-soft-warning">Meeting is at hotel plaza for two hours. Agenda
																								is to get approval of project ASAP</p>
																						<div class="actions text-right">
																								<a class="text-white" href="#"><i data-feather="trash-2"></i></a>
																						</div>
																				</div>
																		</div>
																</li>
																<li>
																		<div class="card card-rounded bg-success">
																				<div class="card-header">
																						<div class="task-header-left bg-soft-success-2">
																								<i data-feather="users" class="task-icon"></i>
																						</div>
																						<div class="task-header-right">
																								<span class="badge badge-pill badge-soft-success-2">Aug 22</span>
																								<span class="badge badge-pill badge-soft-success-2">11:21 AM</span>
																						</div>
																				</div>
																				<div class="card-body">
																						<p class="title">Meeting Scheduled on Wednesday</p>
																						<p class="content text-soft-success">Meeting is at hotel plaza for two hours. Agenda
																								is to get approval of project ASAP</p>
																				</div>
																		</div>
																</li>
																<li>
																		<div class="card card-rounded bg-danger">
																				<div class="card-header">
																						<div class="task-header-left bg-soft-danger-2">
																								<i data-feather="users" class="task-icon"></i>
																						</div>
																						<div class="task-header-right">
																								<span class="badge badge-pill badge-soft-danger-2">Aug 22</span>
																								<span class="badge badge-pill badge-soft-danger-2">11:21 AM</span>
																						</div>
																				</div>
																				<div class="card-body">
																						<p class="title">Meeting Scheduled on Wednesday</p>
																						<p class="content text-soft-danger">Meeting is at hotel plaza for two hours. Agenda
																								is to get approval of project ASAP</p>
																				</div>
																		</div>
																</li>
														</ul>
												</div>
										</div>
										<div class="tab-pane fade" id="nav-config" role="tabpanel" aria-labelledby="nav-config-tab">
												<form class="config-container form">
														<div class="config-file">
																<h5>File Sharing</h5>
																<ul class="config-list">
																		<li class="config-item form-group-xs row">
																				<label class="col-8 col-form-label">Enable auto upload:</label>
																				<div class="col-4 text-right">
																						<a href="#" class="disable">
																								<i class="config-icon" data-feather="upload-cloud"></i>
																						</a>
																				</div>
																		</li>
																		<li class="config-item form-group-xs row">
																				<label class="col-8 col-form-label">Enable file sharing:</label>
																				<div class="col-4 text-right">
																						<a href="#" class="enable">
																								<i class="config-icon" data-feather="share-2"></i>
																						</a>
																				</div>
																		</li>
																		<li class="config-item form-group-xs row">
																				<label class="col-8 col-form-label">Enable auto download:</label>
																				<div class="col-4 text-right">
																						<a href="#" class="disable">
																								<i class="config-icon" data-feather="download-cloud"></i>
																						</a>
																				</div>
																		</li>
																</ul>
														</div>
														<div class="separator"></div>
														<div class="config-notify">
																<h5>Notification</h5>
																<ul class="config-list">
																		<li class="config-item form-group-xs row">
																				<label class="col-8 col-form-label">Notify when receive email:</label>
																				<div class="col-4 text-right">
																						<a href="#" class="disable">
																								<i class="config-icon" data-feather="bell-off"></i>
																						</a>
																				</div>
																		</li>
																		<li class="config-item form-group-xs row">
																				<label class="col-8 col-form-label">Receive calls in meeting:</label>
																				<div class="col-4 text-right">
																						<a href="#" class="disable">
																								<i class="config-icon" data-feather="phone-off"></i>
																						</a>
																				</div>
																		</li>
																		<li class="config-item form-group-xs row">
																				<label class="col-8 col-form-label">Update on task completion:</label>
																				<div class="col-4 text-right">
																						<a href="#" class="enable">
																								<i class="config-icon" data-feather="thumbs-up"></i>
																						</a>
																				</div>
																		</li>
																</ul>
														</div>
														<div class="separator"></div>
														<div class="config-general">
																<h5>Reporting</h5>
																<ul class="config-list">
																		<li class="config-item form-group-xs row">
																				<label class="col-8 col-form-label">Auto generate reports:</label>
																				<div class="col-4 text-right">
																						<a href="#" class="disable">
																								<i class="config-icon" data-feather="file-minus"></i>
																						</a>
																				</div>
																		</li>
																		<li class="config-item form-group-xs row">
																				<label class="col-8 col-form-label">Generate customer reports:</label>
																				<div class="col-4 text-right">
																						<a href="#" class="disable">
																								<i class="config-icon" data-feather="user-check"></i>
																						</a>
																				</div>
																		</li>
																		<li class="config-item form-group-xs row">
																				<label class="col-8 col-form-label">Generate order reports:</label>
																				<div class="col-4 text-right">
																						<a href="#" class="enable">
																								<i class="config-icon" data-feather="shopping-cart"></i>
																						</a>
																				</div>
																		</li>
																</ul>
														</div>
												</form>
										</div>
								</div>
						</div>
				</div>
				<div class="sidebar-overlay"></div>