

<div class="d-flex w-100">
    <!-- partial:../../partials/_sidebar.html -->
    <nav class="navbar-container flex-row" id="navbar">
        <div class="primary">
            <div class="text-center navbar-brand-container d-flex align-items-center justify-content-center">
                <a class="brand-logo" href="../dashboards/index.html"><img src="../../../../dist/images/logo-white-small.png" alt="Scalar Dashboard" title="Scalar Dashboard"></a>
            </div>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="../dashboards/index.html" data-toggle="tooltip" data-placement="right" data-original-title="Quick Link - Dashboard" data-skin-class="tooltip-base">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../apps/email.html" data-toggle="tooltip" data-placement="right" data-original-title="Quick Link - Email" data-skin-class="tooltip-base">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../ecom/invoice.html" data-toggle="tooltip" data-placement="right" data-original-title="Quick Link - Invoice" data-skin-class="tooltip-base">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../users/profile.html" data-toggle="tooltip" data-placement="right" data-original-title="Quick Link - User Profile" data-skin-class="tooltip-base">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-plus"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="20" y1="8" x2="20" y2="14"></line><line x1="23" y1="11" x2="17" y2="11"></line></svg>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../widgets/analytics.html" data-toggle="tooltip" data-placement="right" data-original-title="Quick Link - Analytics Widgets" data-skin-class="tooltip-base">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline></svg>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../icons/feather-icons.html" data-toggle="tooltip" data-placement="right" data-original-title="Quick Link - Feather Icons" data-skin-class="tooltip-base">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-feather"><path d="M20.24 12.24a6 6 0 0 0-8.49-8.49L5 10.5V19h8.5z"></path><line x1="16" y1="8" x2="2" y2="22"></line><line x1="17.5" y1="15" x2="9" y2="15"></line></svg>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../maps/google-map.html" data-toggle="tooltip" data-placement="right" data-original-title="Quick Link - Google Maps" data-skin-class="tooltip-base">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map"><polygon points="1 6 1 22 8 18 16 22 23 18 23 2 16 6 8 2 1 6"></polygon><line x1="8" y1="2" x2="8" y2="18"></line><line x1="16" y1="6" x2="16" y2="22"></line></svg>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../users/login-v1.html" data-toggle="tooltip" data-placement="right" data-original-title="Quick Link - Login page" data-skin-class="tooltip-base">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shield"><path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path></svg>
                    </a>
                </li>
            </ul>
        </div>
        <div class="secondary">
            <div class="sub-header">
                <h4>All Elements</h4>
            </div>
            <div class="nav-wrapper ps ps--active-y">
                <ul class="nav">
                    <li class="nav-header">Layout</li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            <span class="menu-title">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#ui-widget" aria-expanded="false" aria-controls="ui-widget">
                            <span class="menu-title">Widgets</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right menu-arrow"><polyline points="9 18 15 12 9 6"></polyline></svg>
                        </a>
                        <div class="collapse" id="ui-widget">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"><a class="nav-link" href="/analytics.html">Analytics</a></li>
                                <li class="nav-item"><a class="nav-link" href="/cms.html">CMS</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-header">Elements</li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                            <span class="menu-title">UI Elements</span>
                            <span class="badge badge-sb-primary">14</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right menu-arrow"><polyline points="9 18 15 12 9 6"></polyline></svg>
                        </a>
                        <div class="collapse" id="ui-basic">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"><a class="nav-link" href="../ui-elements/alerts.html">Alerts</a></li>
                                <li class="nav-item"><a class="nav-link" href="../ui-elements/accordions.html">Accordions</a></li>
                                <li class="nav-item"><a class="nav-link" href="../ui-elements/buttons.html">Buttons</a></li>
                                <li class="nav-item"><a class="nav-link" href="../ui-elements/badges.html">Badges</a></li>
                                <li class="nav-item"><a class="nav-link" href="../ui-elements/breadcrumbs.html">Breadcrumbs</a></li>
                                <li class="nav-item"><a class="nav-link" href="../ui-elements/collapse.html">Collapse</a></li>
                                <li class="nav-item"><a class="nav-link" href="../ui-elements/dropdowns.html">Dropdowns</a></li>
                                <li class="nav-item"><a class="nav-link" href="../ui-elements/modals.html">Modals</a></li>
                                <li class="nav-item"><a class="nav-link" href="../ui-elements/progress.html">Progress bar</a></li>
                                <li class="nav-item"><a class="nav-link" href="../ui-elements/pagination.html">Pagination</a></li>
                                <li class="nav-item"><a class="nav-link" href="../ui-elements/popovers.html">Popovers</a></li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="collapse" href="#ui-tabs" aria-expanded="false" aria-controls="ui-tabs">
                                        <span class="menu-title">Tabs</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right menu-arrow"><polyline points="9 18 15 12 9 6"></polyline></svg>
                                    </a>
                                    <div class="collapse" id="ui-tabs">
                                        <ul class="nav flex-column sub-menu">
                                            <li class="nav-item"><a class="nav-link" href="../ui-elements/tabs.html">Tabs Basic</a></li>
                                            <li class="nav-item"><a class="nav-link" href="../ui-elements/tabs-bonus.html">Tabs Line</a></li>
                                            <li class="nav-item"><a class="nav-link" href="../ui-elements/tabs-boxed.html">Tabs Boxed</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="../ui-elements/tooltips.html">Tooltips</a></li>
                                <li class="nav-item"><a class="nav-link" href="../ui-elements/typography.html">Typography</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#ui-advanced" aria-expanded="false" aria-controls="ui-advanced">
                            <span class="menu-title">Advanced UI</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right menu-arrow"><polyline points="9 18 15 12 9 6"></polyline></svg>
                        </a>
                        <div class="collapse" id="ui-advanced">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"><a class="nav-link" href="../ui-elements/notification.html">Notification</a></li>
                                <li class="nav-item"><a class="nav-link" href="../ui-elements/timeline.html">Timeline</a></li>
                                <li class="nav-item"><a class="nav-link" href="../ui-elements/owl-carousel.html">OwlCarousel2</a></li>
                                <li class="nav-item"><a class="nav-link" href="../ui-elements/lightbox.html">Lightbox</a></li>
                                <li class="nav-item"><a class="nav-link" href="../ui-elements/perfect-scroll.html">Perfect Scroll</a></li>
                                <li class="nav-item"><a class="nav-link" href="../ui-elements/sweet-alert.html">SweetAlert2</a></li>
                                <li class="nav-item"><a class="nav-link" href="../ui-elements/spinner.html">Spinners</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
                            <span class="menu-title">Form elements</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right menu-arrow"><polyline points="9 18 15 12 9 6"></polyline></svg>
                        </a>
                        <div class="collapse" id="form-elements">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"><a class="nav-link" href="../forms/inputs.html">Basic Inputs</a></li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="collapse" href="#form-advanced" aria-expanded="false" aria-controls="form-advanced">
                                        <span class="menu-title">Advanced Inputs</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right menu-arrow"><polyline points="9 18 15 12 9 6"></polyline></svg>
                                    </a>
                                    <div class="collapse" id="form-advanced">
                                        <ul class="nav flex-column sub-menu">
                                            <li class="nav-item"><a class="nav-link" href="../forms/advanced.html">Defualt</a></li>
                                            <li class="nav-item"><a class="nav-link" href="../forms/checkbox-radio.html">Checkbox &amp; Radio</a></li>
                                            <li class="nav-item"><a class="nav-link" href="../forms/color-picker.html">Color Picker</a></li>
                                            <li class="nav-item"><a class="nav-link" href="../forms/date-picker.html">Datepicker</a></li>
                                            <li class="nav-item"><a class="nav-link" href="../forms/daterange-picker.html">DateRange Picker</a></li>
                                            <li class="nav-item"><a class="nav-link" href="../forms/time-picker.html">Time Picker</a></li>
                                            <li class="nav-item"><a class="nav-link" href="../forms/clipboard.html">Clipboard</a></li>
                                            <li class="nav-item"><a class="nav-link" href="../forms/quill.html">Quill</a></li>
                                            <li class="nav-item"><a class="nav-link" href="../forms/summernote.html">Summernote</a></li>
                                            <li class="nav-item"><a class="nav-link" href="../forms/bootstrap-select.html">Bootstrap Select</a></li>
                                            <li class="nav-item"><a class="nav-link" href="../forms/inputmask.html">Input Mask</a></li>
                                            <li class="nav-item"><a class="nav-link" href="../forms/dropzone.html">Drop-zone</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="../forms/validation.html">Validation</a></li>
                                <li class="nav-item"><a class="nav-link" href="../forms/wizard.html">Wizard</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-header">Vendors</li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
                            <span class="menu-title">Charts</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right menu-arrow"><polyline points="9 18 15 12 9 6"></polyline></svg>
                        </a>
                        <div class="collapse show" id="charts">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"><a class="nav-link" href="../charts/chart-js.html">ChartJs</a></li>
                                <li class="nav-item"><a class="nav-link" href="../charts/morris-js.html">Morris</a></li>
                                <li class="nav-item"><a class="nav-link" href="../charts/apex-chart.html">Apex Chart</a></li>
                                <li class="nav-item"><a class="nav-link" href="../charts/sparkline.html">Sparkline js</a></li>
                                <li class="nav-item"><a class="nav-link" href="../charts/chartist-js.html">Chartists</a></li>
                                <li class="nav-item"><a class="nav-link" href="../charts/justgage.html">JustGage</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
                            <span class="menu-title">Tables</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right menu-arrow"><polyline points="9 18 15 12 9 6"></polyline></svg>
                        </a>
                        <div class="collapse" id="tables">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"><a class="nav-link" href="../tables/basic-tables.html">Basic table</a></li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="collapse" href="#DataTables" aria-expanded="false" aria-controls="tables">
                                        <span class="menu-title">DataTables</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right menu-arrow"><polyline points="9 18 15 12 9 6"></polyline></svg>
                                    </a>
                                    <div class="collapse" id="DataTables">
                                        <ul class="nav flex-column sub-menu">
                                            <li class="nav-item"><a class="nav-link" href="../tables/data-table.html">Basic table</a></li>
                                            <li class="nav-item"><a class="nav-link" href="../tables/data-table-form.html">Inline Form</a></li>
                                            <li class="nav-item"><a class="nav-link" href="../tables/data-table-columns.html">Column Operations</a></li>
                                            <li class="nav-item"><a class="nav-link" href="../tables/data-table-search.html">Column Search</a></li>
                                            <li class="nav-item"><a class="nav-link" href="../tables/data-table-ajax.html">Ajax DataSource</a></li>
                                            <li class="nav-item"><a class="nav-link" href="../tables/data-table-child-rows.html">Additional Data</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="../tables/js-grid.html">Js-grid</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
                            <span class="menu-title">Icons</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right menu-arrow"><polyline points="9 18 15 12 9 6"></polyline></svg>
                        </a>
                        <div class="collapse" id="icons">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"><a class="nav-link" href="../icons/feather-icons.html">Feather icons</a></li>
                                <li class="nav-item"><a class="nav-link" href="../icons/font-awesome.html">Font Awesome</a></li>
                                <li class="nav-item"><a class="nav-link" href="../icons/flag-icons.html">Flag Icons</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#maps" aria-expanded="false" aria-controls="maps">
                            <span class="menu-title">Maps</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right menu-arrow"><polyline points="9 18 15 12 9 6"></polyline></svg>
                        </a>
                        <div class="collapse" id="maps">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"><a class="nav-link" href="../maps/jqvmap.html">JqvMap</a></li>
                                <li class="nav-item"><a class="nav-link" href="../maps/mapeal.html">Mapeal</a></li>
                                <li class="nav-item"><a class="nav-link" href="../maps/google-map.html">Google Map</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-header">Pages</li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                            <span class="menu-title">User Pages</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right menu-arrow"><polyline points="9 18 15 12 9 6"></polyline></svg>
                        </a>
                        <div class="collapse" id="auth">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"><a class="nav-link" href="../users/login-v1.html"> Login </a></li>
                                <li class="nav-item"><a class="nav-link" href="../users/login-v2.html"> Login 2 </a></li>
                                <li class="nav-item"><a class="nav-link" href="../users/login-v3.html"> Login 3 </a></li>
                                <li class="nav-item"><a class="nav-link" href="../users/profile.html"> Profile </a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#error" aria-expanded="false" aria-controls="error">
                            <span class="menu-title">Error pages</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right menu-arrow"><polyline points="9 18 15 12 9 6"></polyline></svg>
                        </a>
                        <div class="collapse" id="error">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"><a class="nav-link" href="../errors/error-v1.html">Error v1</a></li>
                                <li class="nav-item"><a class="nav-link" href="../errors/error-v2.html">Error v2</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#general-pages" aria-expanded="false" aria-controls="general-pages">
                            <span class="menu-title">General Pages</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right menu-arrow"><polyline points="9 18 15 12 9 6"></polyline></svg>
                        </a>
                        <div class="collapse" id="general-pages">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"><a class="nav-link" href="../general/blank-page.html"> Blank Page </a></li>
                                <li class="nav-item"><a class="nav-link" href="../general/faq-v1.html"> FAQ </a></li>
                                <li class="nav-item"><a class="nav-link" href="../general/faq-v2.html"> FAQ 2 </a></li>
                                <li class="nav-item"><a class="nav-link" href="../general/blog-post.html"> Blog Post </a></li>
                                <li class="nav-item"><a class="nav-link" href="../general/search-result.html"> Search Results </a></li>
                                <!--<li class="nav-item"><a class="nav-link" href="../samples/portfolio.html"> Portfolio </a></li>-->
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#e-commerce" aria-expanded="false" aria-controls="e-commerce">
                            <span class="menu-title">E-commerce</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right menu-arrow"><polyline points="9 18 15 12 9 6"></polyline></svg>
                        </a>
                        <div class="collapse" id="e-commerce">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"><a class="nav-link" href="../ecom/invoice.html"> Invoice </a></li>
                                <li class="nav-item"><a class="nav-link" href="../ecom/pricing-table.html"> Pricing Table </a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-header">App</li>
                    <li class="nav-item">
                        <a class="nav-link" href="../apps/email.html">
                            <span class="menu-title">E-mail</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../apps/calendar.html">
                            <span class="menu-title">Calendar</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../apps/to-do.html">
                            <span class="menu-title">Todo List</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../../../../../Documentation/index.html">
                            <span class="menu-title">Documentation</span>
                        </a>
                    </li>
                </ul>
                <div class="ps__rail-x" style="left: 0px; bottom: -50px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 50px; height: 537px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 23px; height: 250px;"></div></div>
            </div>
        </div>
    </nav>
    <!-- partial -->
</div>